.box1{
    width: 100px;
    height: 100px;
    background-color: aqua;
    transform: rotateX(45deg);
}

.box2{
    width: 100px;
    height: 100px;
    background-color: bisque;
    transform: rotateY(-180deg);
}

.box3{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    transform: rotate(45deg, 180deg);
}